<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet"> 
 		 <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> 
  		<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 		
<link rel="icon" href="https://1.bp.blogspot.com/-9cZAUr6Xu6k/XooozF9CTqI/AAAAAAAAGaM/A8JJ7tZlAjAMnrN_huOzZzW7PNAvtijcwCLcBGAsYHQ/s320/94097_oxBpS8mV.png">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

		</body>
	</html>
